:root {
  --preto: #141414;
  --cinza-claro: #f5f5f5;
  --cinza-medio: #a3a3a3;
  --cinza: #525252;
  --max-width: 1200px;
  --grid-gap: max(30px, 6vw);
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--preto);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: var(--max-width);
  padding: 40px 20px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 880px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial !important;
    text-transform: capitalize;
  }
}
